<ul class="nav nav-tabs">
   <li class="active">
      <a href="#report-pane" data-toggle="tab">Reports</a>
   </li>
   <li>
      <a href="#summary-pane" data-toggle="tab">Summary Stats</a>
   </li>
   <li>
      <a href="#round-pane" data-toggle="tab">Rounds</a>
   </li>
   <li>
      <a href="#setting-pane" data-toggle="tab">Settings</a>
   </li>
   <li>
      <a href="#question-pane" data-toggle="tab">Questions</a>
   </li>
   <li>
      <a href="#participant-pane" data-toggle="tab">Partipants</a>
   </li>
</ul>
