<script>
$('a#reports-navlist').on('show', function(e) {
        $.alert("hello");
        $.get('/programs/1/reports/report1', function(data) {
                $('#report-html-content').html(data.content);
        });
});
</script>


<div class="container">
  <div class="row">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#" data-toggle="pill">Trend lines for all questions</a>
        </li>
        <li>
          <%= link_to "Summary of all questions", "#",
                      id: "reports-navlist", 
                      data: {toggle: "pill"} %>
        </li> 
        <li class="active">
          <a href="#" data-toggle="pill">Trend lines for all questions</a>
        </li>
        <li>
          <a href="#" data-toggle="pill">Details on all questions</a>
        </li>
      </ul>
    </div>
    <div class="span10" id="report-html-content">
    </div>
  </div>
</div>

