<p>All reports that are available are listed below. Reports only cover a single program. You can generate a report at any time, and refresh it to see the submissions come in.</p>
<div class="container">
  <div class="row">
    <div class="span4">
      <h3>Reports by Question</h3>
    </div>
  </div>
  <div class="row">
    <div class="offset1 span4">
      <div class="row">
        <div class="span4">
          <h4>Response Distribution</h4>
        </div>
      </div>
      <div class="row">
        <div class="span4">
          For each question, show the distribution of responses over all the rounds. For example, Question 1, Round 1, had 10% of the responses as a 1.0 and 90% as a 2.0
        </div>
      </div>
    </div>
    <div class="span4">
      <%= image_tag "sample_report.png", class: "img-rounded" %>
    </div>
  </div>
</div>