<h1>Round <%= @round.number %> for <%= link_to(("Program '" + @program.name + "'"), program_path(@program)) %></h1>

<table class="table table-bordered table-condensed display">
   <thead>
      <tr>
         <th>Question</th>
         <th>Average</th>
         <th>Count</th>
      </tr>
   </thead>
   <tbody>
      <%= render(partial: "questions/question_for_round", 
                 collection: @questions, as: :question) %>
   </tbody>
</table>
   
<%= will_paginate (@questions) %>
