<h1>Report for <%= link_to(("Program '" + @program.name + "'"), program_path(@program)) %></h1>

<p>This is the table</p>
<table class="table table-bordered" style="width: 100%;">
  <thead>
    <tr>
      <th style="width: 10%; text-align: right">Learning Objective</th>
      <th>wk 1</th>
      <th>wk 2</th>
      <th>wk 3</th>
      <th>wk 4</th>
      <th>wk 5</th>
      <th>wk 6</th>
      <th>wk 7</th>
      <th>wk 8</th>
      <th style="width: 10%;">Charted</th>
    </tr>
  </thead>

    <tbody>
    </body>
  </table>